@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: var(--neutral-light-gray);
    padding: 5.2rem 2rem 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-light-gray: hsl(0, 0%, 98%);

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
}

/* Header */
header {
    max-width: 34rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header p {
    padding: 1rem 0;
    line-height: 1.6;
    font-size: 0.954rem;
}

h1 {
    font-weight: var(--fw-bold);
    color: var(--neutral-dark-blue);
    font-size: 1.53rem;
}

h2 {
    font-weight: var(--fw-light);
    color: var(--neutral-dark-blue);
    font-size: 1.53rem;
}

h3 {
    font-weight: var(--fw-bold);
    color: var(--neutral-dark-blue);
    font-size: 1.25rem;
}

p {
    font-weight: var(--fw-normal);
    color: var(--neutral-grayish-blue);
}

/* ----Main for mobile---- */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3.7rem 0 0;
}

main section > * + * {
    margin-top: 1.5rem;
}

main section {
    width: 100%;
}


main section .box p {
    padding: 0.2rem 0.05rem;
    font-size: 0.8rem;
    line-height: 1.8;
    letter-spacing: 0.012rem;
}

main section .box {
    min-height: 10.95rem;
    border-radius: 0.5rem;
    padding: 1.65rem 1.75rem 5rem;
    box-shadow: 0px 15px 20px -6px hsla(218, 43%, 46%, 0.2);
    background-color: white;
    position: relative;
    width: 80%;
    background-repeat: no-repeat;
    background-position: right 1.8rem bottom 1.8rem;
    background-size: 3.57rem;
    overflow: hidden;
}

main section .box::before {
    content: "";
    height: 0.25rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

main section .box.a {
    background-image: url(images/icon-supervisor.svg);
}

main section .box.b {
    background-image: url(images/icon-team-builder.svg);
}

main section .box.c {
    background-image: url(images/icon-karma.svg);
}

main section .box.d {
    background-image: url(images/icon-calculator.svg);
}

main section .box.a::before {
    background: var(--primary-cyan);
}

main section .box.b::before {
    background: var(--primary-red);
}

main section .box.c::before {
    background: var(--primary-orange);
}

main section .box.d::before {
    background: var(--primary-blue);
}

/* footer */
footer{
    margin: 10px 0;
}
.attribution> a{
    text-decoration: none;
}

/* media query */

@media (min-width: 40em) {
    h1 {
        font-size: 2.3rem;
        line-height: 1.25;
        letter-spacing: -0.01rem;
    }

    h2 {
        font-size: 2.3rem;
        letter-spacing: -0.01rem;
    }

    body {
        padding: 4.8625rem 2.5rem 0;
    }

    header p {
        padding-top: 1.35rem;
    }

    main {
        flex-direction: row;
        padding-top: 2.9rem;
        gap: 2rem;
    }

    main section > * + * {
        margin-top: 1.85rem;
    }

    main section.side {
        display: flex;
        align-items: center;
    }

    main section .box {
        min-height: 10.65rem; 
    }
}

@media (min-width: 60em) {
    body {
        padding: 4.8625rem 10.3rem 0;
    }

    main section .box {
        padding: 1.95rem 1.95rem 5rem;
        background-position: right 2rem bottom 2rem;
        background-size: 4rem;
    }

    main section .box p {
        padding: 0.5rem 0.05rem;
    }
}